<%- include('inc/_header'); %>
<!--▼ Content area ▼-->
<main class="l-main">
    <section class="c-news">
        <div class="c-news__left">
            <img src="../assets/img/sub_slider.png" alt="">
            <div class="c-news__info">
                <p>MOCO’S BAKED SWEETS</p>
                <p>焼菓子ギフト 全国発送承ります</p>
                <p>詳しくみる</p>
            </div>
        </div>
        <div class="c-news__right">
            <img src="../assets/img/sub_content.png" alt="">
            <div class="c-news__info">
                <p>MOCO’S ORIGINAL BIRTHDAY CAKE</p>
                <p>バースデーケーキ ご予約承ります</p>
                <p>詳しくみる</p>
            </div>
        </div>
    </section>
    <section class="c-releason">
        <div class="l-container">
            <div class="c-releason__vehicle">
                <p>安 心 の 理 由</p>
                <p>REASON</p>
            </div>
            <div class="c-realson__info">
                <p>おやつのアトリエmocoは、卵、乳製品、白砂糖をつかわないお菓子（マクロビオティックスイーツ、ビーガンスイーツ）のお店です。一</p>
                <button>詳しくみる</button>
            </div>
        </div>
    </section>
    <section class="c-news__product">
        <div class="l-container">
            <div class="c-product__title">
                <h5>更新情報</h5>
                <h6>NEWS</h6>
            </div>
            <div class="c-product__left">
                <h6>お知らせ</h6>
                <div class="c-product__left__item">
                    <div class="c-product__img">
                        <img src="../assets/img/item_content.png" alt="">
                    </div>
                    <div class="c-product__info">
                        <p class="c-product__date">2018.12.01 </p>
                        <p class="c-product__text">2018年12〜2019年1月営業日のお</p>
                    </div>
                </div>
                <div class="c-product__left__item">
                    <div class="c-product__img">
                        <img src="../assets/img/item_content.png" alt="">
                    </div>
                    <div class="c-product__info">
                        <p class="c-product__date">2018.12.01 </p>
                        <p class="c-product__text">2018年12〜2019年1月営業日のお</p>
                    </div>
                </div>
                <div class="c-product__left__item">
                    <div class="c-product__img">
                        <img src="../assets/img/item_content.png" alt="">
                    </div>
                    <div class="c-product__info">
                        <p class="c-product__date">2018.12.01 </p>
                        <p class="c-product__text">2018年12〜2019年1月営業日のお</p>
                    </div>
                </div>
            </div>
            <div class="c-product__center">
                <div class="c-product__center__item">
                    <div class="c-product__img">
                        <img src="../assets/img/item_content.png" alt="">
                    </div>
                    <div class="c-product__info">
                        <p class="c-product__date">2018.12.01 </p>
                        <p class="c-product__text">2018年12〜2019年1月営業日のお</p>
                    </div>
                </div>
                <div class="c-product__center__item">
                    <div class="c-product__img">
                        <img src="../assets/img/item_content.png" alt="">
                    </div>
                    <div class="c-product__info">
                        <p class="c-product__date">2018.12.01 </p>
                        <p class="c-product__text">2018年12〜2019年1月営業日のお</p>
                    </div>
                </div>
                <div class="c-product__center__item">
                    <div class="c-product__img">
                        <img src="../assets/img/item_content.png" alt="">
                    </div>
                    <div class="c-product__info">
                        <p class="c-product__date">2018.12.01 </p>
                        <p class="c-product__text">2018年12〜2019年1月営業日のお</p>
                    </div>
                </div>
            </div>
            <div class="c-product__right">
                <div class="c-product__right__item">
                    <div class="c-product__img">
                        <img src="../assets/img/item_content.png" alt="">
                    </div>
                    <div class="c-product__info">
                        <p class="c-product__date">2018.12.01 </p>
                        <p class="c-product__text">2018年12〜2019年1月営業日のお</p>
                    </div>
                </div>
                <div class="c-product__right__item">
                    <div class="c-product__img">
                        <img src="../assets/img/item_content.png" alt="">
                    </div>
                    <div class="c-product__info">
                        <p class="c-product__date">2018.12.01 </p>
                        <p class="c-product__text">2018年12〜2019年1月営業日のお</p>
                    </div>
                </div>
                <div class="c-product__right__item">
                    <div class="c-product__img">
                        <img src="../assets/img/item_content.png" alt="">
                    </div>
                    <div class="c-product__info">
                        <p class="c-product__date">2018.12.01 </p>
                        <p class="c-product__text">2018年12〜2019年1月営業日のお</p>
                    </div>
                </div>
            </div>
            <button>ブログ一覧へ</button>
        </div>
    </section>
</main>
<!--▲ Content are ▲-->
<%- include('inc/_footer'); %>