<%- include('inc/_header'); %>
<!--▼ Content area ▼-->
<main class="p-home">
    <section class="c-news">
        <div class="c-news__left">
            <div class="c-news__content">
                <img class="c-news__productImg" src="../assets/img/sub_slider.png" alt="">
                <div class="c-news__info">
                    <img class="c-title" src="assets/img/index2.png" alt="MOCO’S BAKED SWEETS">
                    <p>焼菓子ギフト <br/>全国発送承ります</p>
                    <div class="c-news__btn">
                        <a href="">詳しくみる</a>
                    </div>
                    <div class="c-news__notification pc-only">
                        <img src="../assets/img/noti.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="c-news__right">
            <div class="c-news__content">
                <img src="../assets/img/sub_content.png" alt="">
                <div class="c-news__info">
                    <img class="c-title" src="assets/img/index4.png" alt="MOCO’S BAKED SWEETS">
                    <p>バースデーケーキ <br/> ご予約承ります</p>
                    <div class="c-news__btn">
                        <a href="c-btn--color">詳しくみる</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="c-releason">
        <div class="l-container">
            <div class="c-releason__item">
                <div class="c-releason__item__vehicle pc-only">
                    <div class="c-releason__title">
                        <h2 > 安 心 の 理 由 </h2>
                    </div>
                    <img src="assets/img/index6.png" alt="REASON">
                </div>
                <img class="sp-only" src="../assets/img/indexsp3.png" alt="">
                <div class="c-releason__item__info">
                    <p>おやつのアトリエmocoは、卵、乳製品、白砂糖をつかわないお菓子 （マクロビオティックスイーツ、ビーガンスイーツ） のお店です。 一部のお菓子は小麦粉も不使用（グルテンフリー）です。 </p>
                    <p> できるだけ有機栽培や無農薬、国産 地元産の材料を選んで使用し、アレル ギーや授乳中の方にも安心して召し上がっていただけるよう、 すべてのお菓子の原材料を明示しています。 </p>
                    <div class="c-btn">
                        <button class="c-btn--color">詳しくみる</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="c-news__product">
        <div class="l-container clearfix">
            <div class="c-products__info">
                <div class="c-product__title">
                    <h2>更新情報</h2>
                    <h3>NEWS</h3>
                </div>
                <div class="c-product__list">
                    <div class="c-product__left">
                        <h4 class="c-product__group">お知らせ</h4>
                        <div class="c-product__left__item">
                            <div class="c-product__img">
                                <img src="../assets/img/item_content.png" alt="">
                            </div>
                            <div class="c-product__info">
                                <p class="c-product__date">2018.12.01 </p>
                                <p class="c-product__text">2018年12〜2019年1月営業日のお</p>
                            </div>
                        </div>
                        <div class="c-product__left__item">
                            <div class="c-product__img">
                                <img src="../assets/img/item_content1.png" alt="">
                            </div>
                            <div class="c-product__info">
                                <p class="c-product__date">2017.07.17</p>
                                <p class="c-product__text">卵、乳、白砂糖不使用 ホールケーキ の詳細</p>
                            </div>
                        </div>
                        <div class="c-product__left__item">
                            <div class="c-product__img">
                                <img src="../assets/img/item_content2.png" alt="">
                            </div>
                            <div class="c-product__info">
                                <p class="c-product__date">2018.11.29</p>
                                <p class="c-product__text">2018年11月30日のお品書き～卵・乳</p>
                            </div>
                        </div>
                    </div>
                    <div class="c-product__center">
                        <h4 class="c-product__group">お品書き</h4>
                        <div class="c-product__center__item">
                            <div class="c-product__img">
                                <img src="../assets/img/item_content4.png" alt="">
                            </div>
                            <div class="c-product__info">
                                <p class="c-product__date">2018.16.14</p>
                                <p class="c-product__text">2018年12月14日のお品書き～卵・乳</p>
                            </div>
                        </div>
                        <div class="c-product__center__item">
                            <div class="c-product__img">
                                <img src="../assets/img/item_content5.png" alt="">
                            </div>
                            <div class="c-product__info">
                                <p class="c-product__date">2018.12.06</p>
                                <p class="c-product__text">2018年12月7日のお品書き～卵・乳</p>
                            </div>
                        </div>
                        <div class="c-product__center__item">
                            <div class="c-product__img">
                                <img src="../assets/img/item_content5.png" alt="">
                            </div>
                            <div class="c-product__info">
                                <p class="c-product__date">2018.11.29</p>
                                <p class="c-product__text">2018年11月30日のお品書き～卵・乳</p>
                            </div>
                        </div>
                    </div>
                    <div class="c-product__right">
                        <h4 class="c-product__group">イベント情報</h4>
                        <div class="c-product__right__item">
                            <div class="c-product__img">
                                <img src="../assets/img/item_content7.png" alt="">
                            </div>
                            <div class="c-product__info">
                                <p class="c-product__date">2018.16.14</p>
                                <p class="c-product__text">2018/06/17（日）第2回 愉しい</p>
                            </div>
                        </div>
                        <div class="c-product__right__item">
                            <div class="c-product__img">
                                <img src="../assets/img/item_content8.png" alt="">
                            </div>
                            <div class="c-product__info">
                                <p class="c-product__date">2017.04.01</p>
                                <p class="c-product__text">4/2（日）、感應寺ベジマルシェに出店し</p>
                            </div>
                        </div>
                        <div class="c-product__right__item">
                            <div class="c-product__img">
                                <img src="../assets/img/item_content9.png" alt="">
                            </div>
                            <div class="c-product__info">
                                <p class="c-product__date">2016.11.23</p>
                                <p class="c-product__text">うちの子、アレルギーかなと思ったら～市民</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="c-news__btn">ブログ一覧へ</button>
        </div>
    </section>
</main>
<!--▲ Content are ▲-->
<%- include('inc/_footer'); %>