/*------------------------------------------------------------
other
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-clearfix:after{
    clear: both;
    display: block;
    content: "";
}
.c-btn--menu{
    position: absolute;
    right: 0px;
    top: -199px;
    width: 63px;
    margin-right: 37px;
}
.is-open{
    display: block;
    // opacity: 1;
    // visibility: visible;
}
._close{
    display: none;
}