//baseWidth
$baseWidth:1000px;
$sliderWidth:1880px;
$sliderHeight:960px;
$layoutMain:1920px;

$fullImage: 100%;

$fontMuli: "Muli", Yu Mincho;
$mainFonts: Yu Mincho, "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;

$colorButtonBlue: #a3d39c;
$colorButtonOrange: #ffdfdf;
$colorButtonYellow: #fff799;
//color common
