<<<<<<< HEAD
//baseWidth
$baseWidth:1000px;
$sliderWidth:1880px;
$sliderHeight:960px;
$layoutMain:1920px;

$fullImage: 100%;

$mainFonts: Yu Mincho, "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;

// color common
$momentum: #d49677;
$strongMomentum: #642200;
=======
//baseWidth
$baseWidth:1000px;
$sliderWidth:1880px;
$sliderHeight:960px;
$layoutMain:1920px;

$fullImage: 100%;

$fontMuli: "Muli", Yu Mincho;
$mainFonts: Yu Mincho, "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;

$colorButtonBlue: #a3d39c;
$colorButtonOrange: #ffdfdf;
$colorButtonYellow: #fff799;
//color common
>>>>>>> 46bf2e6bb54c1c6b3823493e2d054ca7ae26dc67
