<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
	<link rel="stylesheet" href="assets/css/style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
	<!--▼ Header ▼-->
	<header class="c-header">
		<div class="c-header__slider">
			<img src="../assets/img/slider1.png" alt="">
		</div>
		<div class="c-header__info">
			<img src="../assets/img/icon_in_slider.png" alt="">
			<p>誰もが安心して食べられるスイーツを。</p>
			<p>SWEETS THAT EVERYONE CAN EAT SAFELY</p>
			<nav class="c-gnav">
				<ul>
					<li><a href="./index.html">Home</a></li>
					<li><a href="./link1.html">About</a></li>
					<li><a href="./link2.html">Sweets</a></li>
					<li><a href="./link2.html">Contact</a></li>
					<li><a href="./link2.html">Blog</a></li>
					<li class="c-gnav__social">
						<ul>
							<li><img src="../../assets/img/line.png" alt=""></li>
							<li><img src="../../assets/img/face.png" alt=""></li>
							<li><img src="../../assets/img/insta.png" alt=""></li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
	</header>
	<!--▲ Header ▲-->
	<!-- 1880/960 -->