<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
	<link rel="stylesheet" href="assets/css/style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
	<!--▼ Header ▼-->
	<header class="c-header c-sweet">
		<div class="c-header__info">
			<img src="../assets/img/icon_in_slider.png" alt="">
			<div class="c-opensp">
				<img src=" assets/img/open.png" alt="opensp-img">
			</div>
			<nav class="c-menu">
				<ul>
					<li>
						<a href="./index.html"><img src="../assets/img/HOME1.png" alt=""></a>
					</li>
					<li>
						<a href="#"> <img src="../assets/img/ABOUT1.png" alt="menu"></a>
					</li>
					<li>
						<a href="sweet.html"> <img src="../assets/img/SWEETS1.png" alt="menu"></a>
					</li>
					<li>
						<a href="#"> <img src="../assets/img/CONTACT1.png" alt="menu"></a>
					</li>
					<li>
						<a href="#"><img src="../assets/img/BLOG1.png" alt="menu"></a>
					</li>
					<li class="c-icon">
						<ul class="c-icon__sub">
							<li>
								<a href="#"><img src="../assets/img/line.png" alt="icon"></a>
							</li>
							<li>
								<a href="#"><img src="../assets/img/face.png" alt="icon"></a>
							</li>
							<li>
								<a href="#"><img src="../assets/img/insta.png" alt="icon"></a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
	</header>
	<!--▲ Header ▲-->